@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('~@fonts/Manrope-VariableFont_wght.ttf') format('ttf');
}
@font-face {
  font-display: swap;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('~@fonts/FjallaOne-Regular.ttf') format('ttf');
}
